<div class="home-page-container">
    <div class="home-page-block">
        <mat-card class="home-page-all-countries">
            <mat-card-header class="countries-title">
                Countries
            </mat-card-header>
    
            <mat-card-content>
                <input matInput placeholder="Search country" class="country-input" [formControl]="searchInput">
    
                <mat-list role="list" class="country-list">
                    <mat-list-item *ngFor="let country of (allCountries$ | async) | searchCountry : (searchInput.valueChanges | async)" class="country-list-item">
                        <a [routerLink]="['/country', country.countryCode]" class="country-link">
                            {{country.name}} ({{country.countryCode}})
                        </a>  
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="home-page-block">
        <mat-card class="home-page-random-countries">
            <mat-card-header class="countries-title">
                Interesting random countries
            </mat-card-header>

            <mat-card-content>
                <table class="random-countries-table" *ngIf="nextHolidays$ | async">
                    <tr class="table-titles">
                      <th>Country</th>
                      <th>Holiday</th>
                      <th>Date</th>
                    </tr>
                    <tr *ngFor="let country of randomCountries" class="table-content">
                      <td>{{country.name}}</td>
                      <td>{{country.haliday}}</td>
                      <td>{{country.date}}</td>
                    </tr>
                  </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>